.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  // vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 9px 15px 11px;
  /* somehow this looks better */
  border-radius: 0.2rem;
  /* .25rem */
  &:before {
    left: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  &:after {
    right: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: -.12rem;
    bottom: -.1rem;
    width: 1px;
    margin-top: 0.15rem;
    margin-bottom: 0.175rem;
  }
}

.btn-sm {
  padding: 4px 13px 6px;
  font-size: 90%;
}

.btn-md {
  padding: 7px 12px 9px;
  font-size: 90%;
}

.btn-lg {
  padding: 10px 20px 12px;
  font-size: 110%;
}

/// @name standard-button
/// @author nvms
@mixin standard-button($selector, $color-light, $color-dark, $color-top-border, $color-bottom-border, $font-color: #fff, $shadow-color: #555) {
    .btn#{$selector} {
        border-top: 1px solid $color-top-border !important;
        border-bottom: 1px solid $color-bottom-border !important;
        box-shadow: 0 4px 6px -5px $shadow-color !important;
        @include gradient-vertical($color-light, $color-dark);
        color: $font-color !important;

        &:after,
        &:before {
            @include gradient-side-borders($color-top-border, $color-bottom-border);
        }

        &:hover {
            @include gradient-vertical(lighten($color-light, 1.5%), lighten($color-dark, 1.5%));
        }

        &:active {
            border-top-color: darken($color-top-border, 11%) !important;
            border-bottom-color: darken($color-bottom-border, 0%) !important;
            @include box-shadow(0, 0, 8px, darken($color-dark, 8%), true);
            @include gradient-vertical(darken($color-light, 7%), darken($color-dark, 1.5%));

            &:after,
            &:before {
                @include gradient-side-borders(darken($color-top-border, 10%), darken($color-bottom-border, 5%));
            }
        }
    }
}
/// @name flat-button
/// @author nvms
@mixin flat-button($selector, $color-light, $color-dark, $color-top-border, $color-bottom-border, $font-color: #fff, $shadow-color: #555) {
    .btn#{$selector} {
        background-color: $color-dark;
        color: $font-color;

        &:after,
        &:before {}

        &:active {
            // @include box-shadow(0, 0, 7px, darken($color-dark,5%),true);
            background-color: darken($color-dark, 5%);

            &:after,
            &:before {}
        }

        &:hover {
            // outline: 3px solid rgba(255, 255, 255, 0.5);
            background-color: lighten($color-dark, 5%);
            outline-offset: -3px;
        }

        &:active {
            @include box-shadow(0, 0, 7px, darken($color-dark,20%),true);
            background-color: darken($color-dark, 5%);
        }
    }
}
/// @name outline-button
/// @author nvms
@mixin outline-button($selector, $borcolor, $bgcol: #ffffff, $fontcol: #999) {
    .btn#{$selector} {
        border: 1px solid lighten($borcolor, 20%);
        color: lighten($borcolor, 20%);
        box-shadow: 0 4px 6px -5px lighten(#bbb, 15%);

        &:hover {
            color: lighten($borcolor, 10%);
            border-color: lighten($borcolor, 10%);
        }

        &:active {
            @include box-shadow(0, 0, 20px, rgba(desaturate(lighten($borcolor, 5%), 20), 0.25), true);
            @include gradient-vertical(lighten($borcolor, 55%), lighten($borcolor, 55%));
        }
    }
}

/* buttons ********************************************************************/
// outline-button('selector', border_col, bg_col, font_col)
@include outline-button(".btn-outline-default", #6a6a6a, #fff, #222);
@include outline-button(".btn-outline-primary", $color-btn-primary-dark);
@include outline-button(".btn-outline-purple", $color-btn-purple-dark);
@include outline-button(".btn-outline-success", $color-btn-success-dark);
@include outline-button(".btn-outline-warning", $color-btn-warning-dark);
@include outline-button(".btn-outline-danger", $color-btn-danger-dark);
@include standard-button(".btn-default", $color-btn-default-light, $color-btn-default-dark, $color-btn-default-top-border, $color-btn-default-bottom-border, #646464, #bbb);
@include standard-button(".btn-primary", $color-btn-primary-light, $color-btn-primary-dark, $color-btn-primary-top-border, $color-btn-primary-bottom-border);
@include standard-button(".btn-purple", $color-btn-purple-light, $color-btn-purple-dark, $color-btn-purple-top-border, $color-btn-purple-bottom-border);
@include standard-button(".btn-success", $color-btn-success-light, $color-btn-success-dark, $color-btn-success-top-border, $color-btn-success-bottom-border);
@include standard-button(".btn-warning", $color-btn-warning-light, $color-btn-warning-dark, $color-btn-warning-top-border, $color-btn-warning-bottom-border);
@include standard-button(".btn-danger", $color-btn-danger-light, $color-btn-danger-dark, $color-btn-danger-top-border, $color-btn-danger-bottom-border);
@include flat-button('.btn-flat-default', $color-btn-default-light, $color-btn-default-dark, $color-btn-default-top-border, $color-btn-default-bottom-border, #646464, #bbb);
@include flat-button('.btn-flat-primary', $color-btn-primary-light, $color-btn-primary-dark, $color-btn-primary-top-border, $color-btn-primary-bottom-border);
@include flat-button('.btn-flat-purple', $color-btn-purple-light, $color-btn-purple-dark, $color-btn-purple-top-border, $color-btn-purple-bottom-border);
@include flat-button('.btn-flat-success', $color-btn-success-light, $color-btn-success-dark, $color-btn-success-top-border, $color-btn-success-bottom-border);
@include flat-button('.btn-flat-warning', $color-btn-warning-light, $color-btn-warning-dark, $color-btn-warning-top-border, $color-btn-warning-bottom-border);
@include flat-button('.btn-flat-danger', $color-btn-danger-light, $color-btn-danger-dark, $color-btn-danger-top-border, $color-btn-danger-bottom-border);
