$totalCols: 16;
$twelveCols: 12;

.grid {
    position: relative;
    @include clearfix;

    .row {
        @include clearfix;
        @media screen and (min-width: 768px) {
            margin-bottom: 1em;
        }
    }

    [class*="col-"] {
        float: left;
        width: 100%;
        min-height: 1px;
        position: relative;
    }
    @for $i from 1 through $totalCols {
        .col-#{$i}-#{$totalCols} {
            width: 100% / $totalCols * $i;
            @media screen and (max-width: 575px) {
                &.hide-sm {
                    display: none;
                }
            }
            @media screen and (max-width: 767px) {
                &.hide-md {
                    display: none;
                }
            }
            @media screen and (max-width: 991px) {
                &.hide-lg {
                    display: none;
                }
            }
        }
    }
    @for $i from 1 through $twelveCols {
        .col-#{$i}-#{$twelveCols} {
            width: 100% / $twelveCols * $i;
            @media screen and (max-width: 575px) {
                &.hide-sm {
                    display: none;
                }
            }
            @media screen and (max-width: 767px) {
                &.hide-md {
                    display: none;
                }
            }
            @media screen and (max-width: 991px) {
                &.hide-lg {
                    display: none;
                }
            }
        }
    }
}
