$sw-height: 20px;
$sw-width: 50px;

input {
  &.sw {
    opacity: 0;
    position: absolute;
    left: -9999px;
    /* this is the color of the track to the right of the switch handle when it is in the off state */
    & + label {
      user-select: none;
      transition: 0.2s ease-in-out;
      display: inline-block;
      height: $sw-height;
      width: $sw-width;
      position: relative;
      box-shadow: inset 0 0 0 2px #000;
      box-shadow: inset 0 5px 20px rgba(black, 0.2);
      background: rgb(137, 137, 137);
      border-radius: 60px;
      /* this is the color of the track to the left of the switch when it is in the off state.
      this is not really being used for visual improvements and should probably be removed in
      the future */
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: $sw-height;
        width: $sw-height;
        top: 0;
        left: 0;
        border-radius: $sw-height/2;
        transition: all 0.25s ease-in-out;
      }
      /* this is the toggle switch handle when it is in the off state */
      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 24px;
        width: 24px;
        top: 50%;
        margin-top: -12px;
        left: -1px;
        border-radius: 60px;
        background: rgb(214, 214, 214);
        transition: all 0.25s ease-in-out;
      }
      /* in the off state, this is the same switch handle when it is active (being clicked) */
      &:active:after {
        width: 30px;
        background: darken(rgb(214, 214, 214), 10%);
      }

      span {
        white-space: nowrap;
        height: $sw-height;
        line-height: $sw-height;
        margin-left: $sw-width;
        padding-left: 16px;
      }
    }

    &:checked {
      /* this is the color of the track when the switch is in the on position */
      & + label:before {
        width: $sw-width;
        background: rgb(41, 141, 252);
        transition: all 0.25s ease-in-out;
      }
      /* this is the color and position of the switch handle when it is in the on position */
      & + label:after {
        background: rgb(15, 103, 207);
        left: $sw-width - $sw-height -3;
      }
      /* this is the switch when it is in the on position and being clicked */
      & + label:active:after {
        left: $sw-width - $sw-height -9;
        background: darken(rgb(15, 103, 207), 10%);
      }
      /* this is the color of the track to the right of the switch when it is in the on position */
      & + label {
        box-shadow: inset 0 0 0 25px #e4e4e4;
        transition: box-shadow 2.5s cubic-bezier(0,1.2,.94,.95);
      }
    }
  }
}
