// color: darken(#BEC8DB, 20%);
nav {
  line-height: 50px;
  background-color: $color-nav-background;
  font-size: 90%;
  &.fixed {
    position: fixed;
    z-index:10;
    width:100%;
  }
  & ul {
    margin: 0;
    padding: 0;
    li {
      &.brand {
        // font-weight: bold;
        font-size: 130%;
        color: $color-nav-brand;
        margin-right: 20px;
        padding: 0 10px 0 0;
      }
      list-style-type: none;
      display: inline-block;
      a {
        display: block;
        margin: 0;
        padding: 16px 17px;
        color: $color-nav-link;
        &:hover {
          color: darken($color-nav-link, 20%);
        }
        &.active {
          background-color: $color-nav-link-active-bg;
          color: darken($color-nav-link, 20%);
        }
      }
    }
  }
  & .container-full ul {
    margin: 0;
  }
}
